<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--FONT ROBOTO-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!---->
    <link rel="icon" href="/static/icone_h/favicon.ico" type="image/x-icon"> 
    <link rel="stylesheet" href="/static/style.css"> <!-- Ajuste o caminho para a folha de estilo <!-->
    <title>MF Solar</title>
</head>

<body>
    <div id="container">
        <img src="/static/images/logo.png" alt="Solar" width="150"> 
        <div id="chatbot">
            <div id="messages"></div>
            <input type="text" id="userInput" placeholder="Digite sua pergunta">
            <button id="sendButton" onclick="sendMessage()">Enviar</button>
            <p id="error" style="color: red; display: none;">Por favor, insira uma mensagem antes de enviar.</p>
        </div>
    </div>
    <div id="links">
        <p><a href="/duvidas">Dúvidas</a> | <a href="/contato">Entre em Contato Conosco</a></p>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>