<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="/static/icone_h/favicon.ico" type="image/x-icon">  Ajuste o caminho para a pasta estática -->
    <link rel="stylesheet" href="/static/style.css"> <!-- Ajuste o caminho para a folha de estilo <!-->
    <title>MF Solar</title>
</head>

<body>
    <div id="container">
       <!-- <img src="/static/images/favicon32.png" alt="Solar" width="200"> Ajuste o caminho para a imagem <!-->
        <div id="chatbot">
            <div id="messages"></div>
            <input type="text" id="userInput" placeholder="Digite sua pergunta">
            <button onclick="sendMessage()">Enviar</button>
        </div>
    </div>
    <div id="links">
        <p><a href="#duvidas">Dúvidas</a> | <a href="#contato">Entre em Contato Conosco</a></p>
    </div>
    <script>
        // erar um identificador unico para o usuário
        const userId = Date.now();

        function sendMessage() {
            const message = document.getElementById('userInput').value;
            fetch('/chat', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ message: message, user_id: userId }),
            })
            .then(response => response.json())
            .then(data => {
                const messagesDiv = document.getElementById('messages');
                messagesDiv.innerHTML += `<p><strong>Você:</strong> ${message}</p>`;
                messagesDiv.innerHTML += `<p><strong>Bot:</strong> ${data.response}</p>`;
                document.getElementById('userInput').value = '';
                messagesDiv.scrollTop = messagesDiv.scrollHeight; // Scroll to bottom
            });
        }

        // Enviar mensagem inicial quando a página carregar
        window.onload = function() {
            fetch('/chat', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ message: 'start', user_id: userId }),
            })
            .then(response => response.json())
            .then(data => {
                const messagesDiv = document.getElementById('messages');
                messagesDiv.innerHTML += `<p><strong>Bot:</strong> ${data.response}</p>`;
                messagesDiv.scrollTop = messagesDiv.scrollHeight; // Scroll to bottom
            });
        };
    </script>
</body>
</html>
